<div>


    <div class="card">

        <!--Card content-->
        <div class="card-body">
            <div class="md-form">
                <input mdbActive type="text" id="form1" class="form-control">
                <label for="form1" class="">Name</label>
            </div>

            <div class="md-form">
                <input mdbActive type="text" id="form1" class="form-control">
                <label for="form1" class="">Description</label>
            </div>
        </div>
          <button routerLink="/configure/topics" type="button" class="btn btn-indigo">Create Bot</button>

    </div>



</div>
