<div class="top">
  <div class="card card-body">
    <h4 class="card-title">Name Your Bot</h4>
    <p class="card-text">bla bla blahjashdahs ahsdhalks ahsldlaks halsdhla hlalkshd sdfsdf wswe wewer qweqwe qweqwe.</p>


    <div class="md-form">
        <input mdbActive type="text" id="form1" class="form-control">
        <label for="form1" class="">Example label</label>
    </div>
    <!-- <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Example label</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Another label</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
      </form> -->
  </div>
</div>

<!-- <div class="bottom">
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-light">Light</a>
        <a href="#" class="badge badge-light">Light</a>
        
    </div> -->