<main>
  <div class="container">
    <section class="section feature-box pt-5">

      <!--Start Grid row cards-->

      <h4 class="text-center">Chat Bot Analytics</h4>

      <div class="row">
        <div class="btn-group mx-auto" role="group" >
            <button type="button" class="btn btn-elegant text-center" (click) = "selectStatForPeriod('1_week')" mdbRippleRadius>1 Week</button>
            <button type="button" class="btn btn-elegant text-center" (click) = "selectStatForPeriod('1_month')" mdbRippleRadius>1 Month</button>
            <button type="button" class="btn btn-elegant text-center" (click) = "selectStatForPeriod('3_month')" mdbRippleRadius>3 months</button>
            <button type="button" class="btn btn-elegant text-center"  (click) = "selectStatForPeriod('6_month')" mdbRippleRadius>6 months</button>
            <button type="button" class="btn btn-elegant text-center"  (click) = "selectStatForPeriod('12_month')" mdbRippleRadius>One Year</button>
            <button type="button" class="btn btn-elegant text-center"  (click) = "selectStatForPeriod('all')" mdbRippleRadius>All</button>
        </div>
      </div>

      <hr>
      <!--Grid row-->

      <div class="row">

        <!--Grid column-->
        <div class="col-md-3 col-sm-12 col-xs-12 smart-chat-card">

          <!--Card-->
          <div class="card">
            <h5 class="card-header info-color white-text text-center">User Sessions</h5>
            <div class="card-body">
              <h4 class="card-title green-text text-center">{{stats?.sessions}}</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 col-sm-12 col-xs-12 smart-chat-card">

          <!--Card-->
          <div class="card">
            <h5 class="card-header mdb-color white-text text-center">Questions</h5>
            <div class="card-body">
              <h4 class="card-title blue-text text-center">{{stats?.questions}}</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 col-sm-12 col-xs-12 smart-chat-card">

          <!--Card-->
          <div class="card">
            <h5 class="card-header success-color white-text text-center">Unanswered</h5>
            <div class="card-body">
              <h4 class="card-title text-center orange-text">{{stats?.unanswered}}</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
          <!--/.Card-->

        </div>

        <!--Grid column-->
        <div class="col-md-3 col-sm-12 col-xs-12 smart-chat-card">

          <!--Card-->
          <div class="card">
            <h5 class="card-header indigo white-text text-center">Webservice Redirected</h5>
            <div class="card-body">
              <h4 class="card-title text-center red-text">45</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
              </div>
          <!--/.Card-->

        </div>

      </div>
      <!--End Grid row cards-->

      <h4>Session Details</h4>
      <hr>
      <!--Start Grid row chart-->
      <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12 chart-container">
          <canvas id="canvas1">{{ userSessionsChart }}</canvas>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 chart-container">
          <canvas id="canvas2">{{ typeSessionsChart}}</canvas>
        </div>

      </div>
      <!--End Grid row chart-->
 
      <sessions-table></sessions-table>


    </section>
  </div>
</main>
