<div>
    <div class="card text-right">
        <!--Card content-->
        <div class="card-body">
            <div class="md-form form-sm">
                <input mdbActive type="text" id="form1" class="form-control">
                <label for="form1" class="">Details Label1</label>
            </div>
            <div class="md-form form-sm">
                <input mdbActive type="text" id="form2" class="form-control">
                <label for="form2" class="">Details Label2</label>
            </div>
            <div class="md-form form-sm">
                <input mdbActive type="text" id="form3" class="form-control">
                <label for="form3" class="">Details Label3</label>
            </div>
            <div class="md-form form-sm">
                    <textarea type="text" id="materialFormMessageModalEx1" class="md-textarea form-control"></textarea>
                    <label for="materialFormMessageModalEx1">Your message</label>
                </div>
            <button routerLink="/configure/choose-topics" type="button" class="btn btn-indigo">Save Topic</button>
        </div>
    </div>
    <topic-list></topic-list>
</div>