  .intro{
    height:100%
  }
  
  .left{
    display : flex;
    justify-content : center;
    flex-direction: column;
    align-items : center;
    background-color: #ededed;
    height : 100%;
    color : #FFF;
    padding :12px;
  }
  .right{
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    background-color:rgb(184, 218, 180);
    height : 100%;
    color : #3d231b;
    
  }

  .left-section{
     margin : 20px;
     box-shadow: 5px 5px 5px 2px #cec9c9;
     background-color :#ffffff;
  }

  .top{
    background-color:rgba(208, 212, 212, 0.856);
    color :rgb(14, 30, 32);
  }

  .bottom{
    background-color: #707070;
    color :rgb(104, 75, 82);
  }

  @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  }
  .about{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:#000;
    color : #FFF;
    height:100%
  }