  .intro{
    height:100%
  }
  
  .left{
    display : flex;
    justify-content : center;
    flex-direction: column;
    align-items : center;
    background-color: #ededed;
    height : 100%;
    color : #FFF;
    padding :12px;
  }

   .right{
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    background-color:rgb(184, 218, 180);
    height : 100%;
    color : #3d231b;
    
  }

  .top{
    color :rgb(14, 30, 32);
    align-self: stretch;

    @media (min-width: 800px) { 
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 24px;
      }
  }

  .bottom{
    background-color: #707070;
    color :rgb(104, 75, 82);
    align-self: stretch;
    @media (min-width: 800px) { 
        margin-left: 75px;
        margin-right: 75px;
        padding-left: 48px;
        padding-right: 100px;
      }
  }

  @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  }
  .about{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:#000;
    color : #FFF;
    height:100%
  }