<main>
  <div class="container" style="height:1300px;">
    <section class="section feature-box pt-5">
      <!--Start Grid row cards-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-3 col-sm-12 col-xs-12">

          <!--Card-->
          <div class="card">
              <h4 class="card-header info-color white-text text-center">User Sessions</h4>
              <div class="card-body">
                  <h4 class="card-title green-text text-center">100</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

               <!--Grid column-->
               <div class="col-md-3 col-sm-12 col-xs-12">

                  <!--Card-->
                  <div class="card">
                      <h4 class="card-header mdb-color white-text text-center">Questions</h4>
                      <div class="card-body">
                          <h4 class="card-title blue-text text-center">200</h4>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                  </div>
                  <!--/.Card-->

                </div>
        <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 col-sm-12 col-xs-12">

                    <!--Card-->
                    <div class="card">
                        <h4 class="card-header success-color white-text">Un Answered</h4>
                        <div class="card-body">
                            <h4 class="card-title text-center orange-text">30</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <!--/.Card-->

                  </div>

                          <!--Grid column-->
        <div class="col-md-3 col-sm-12 col-xs-12">

            <!--Card-->
            <div class="card">
                <h4 class="card-header indigo white-text">Webservice Redirected</h4>
                <div class="card-body">
                    <h4 class="card-title text-center red-text">45</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <!--/.Card-->

          </div>

      </div>
      <!--End Grid row cards-->
      <!--Start Grid row chart-->
      <div class="row">

        <div [hidden]="!sessionsChart" style="position: relative; height: 500px">
          <canvas id="canvas">{{ sessionsChart }}</canvas>
        </div>

      </div>
      <!--End Grid row chart-->
    </section>
  </div>
</main>
